
<!doctype html>
<head>
    <title>Upload new File</title>
</head>
<body>
    <h1>Upload two CSV files for reconciliation</h1>
    <form method="post" enctype="multipart/form-data" action="">
      <p>File1: <input type=file name='F1'> <!-- name=F1 instead of id=F1 -->
      <p>File2: <input type=file name='F2'>
         <input type=submit value=Upload>
    </form>
    
    <!-- added section for flashed messages -->
    <!-- http://flask.pocoo.org/docs/0.12/patterns/flashing/ -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    
    
    <h3>{{H2}}</h3>
    {% for fn_i in fn_all %}
        <li>
            <a href="http://ssoc18.teamshadi.net:5000/DF?fn_sel={{fn_i}}">{{fn_i}}</a>
            {% if fn_sel==fn_i %}
            (selected)
            {% endif %}
        </li>
    {% endfor %}
   
    
    <h2>{{Title}}</h2>
    {{data | safe}}
    
    

    
<body>