
<!doctype html>
<head>
    <title>Upload new File</title>
</head>
<body>
    <h1>Upload two CSV files for reconciliation</h1>
    <form method="post" enctype="multipart/form-data" action="">
      <p>File1: <input type=file name='F1'> <!-- name=F1 instead of id=F1 -->
      <p>File2: <input type=file name='F2'>
         <input type=submit value=Upload>
    </form>
    
    <!-- added section for flashed messages -->
    <!-- http://flask.pocoo.org/docs/0.12/patterns/flashing/ -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    
    
    <h3><a href="http://ssoc18.teamshadi.net:5000/listprev">{{H2}}</a></h3>
   
    
    

    
<body>